@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|PT+Sans|Playfair+Display|Hammersmith+One');

body {
  margin: 0;
  background-color: #fcfcfc;
}

/* Navigation bar */
#nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

#navLogo a {
  text-decoration: none;
}

#navLogo a h1 {
  font-family: 'Black Ops One';
  margin: 0;
  padding: 0 2em;
  color: #1a237e;
  font-size: 2.75em;
  cursor: pointer;
}

#navLink {
  font-family: 'PT Sans';
  font-size: 1.25em;
  padding: .5em 2em;
}

#navLink a {
  padding: .25em 1em;
  color: #1a237e;
  text-decoration: none;
}

#navLink a:hover {
  text-decoration: underline;
}

#navLink a:first-child {
  padding-left: 2em;
  border-left: .75em solid #1a237e;
}

#navLink a:last-child {
  margin-right: 6em;
}

/* Slider */
.companyI {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/website/interest.png);
}

.sensingC {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/website/sensing.png);
}

.troubleG {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/website/trouble.png);
}

#slider {
  overflow: hidden;
  height: 40vw;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 12s slider infinite;
  height: 100%;
}

#slider figure a {
  width: 20%;
  float: left;
  height: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family: 'Playfair display';
  font-size: 3vw;
  line-height: 40vw;
  text-decoration: none;
  color: white;
}

@keyframes slider {
  0% {
    left: 0;
  }

  28.3% {
    left: 0;
  }

  33.3% {
    left: -100%;
  }

  61.6% {
    left: -100%;
  }

  66.6% {
    left: -200%;
  }

  95% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

/* Index content */
.title {
  font-family: 'Hammersmith One';
  font-size: 4vw;
  text-align: center;
  user-select: none;
  margin: 0;
  padding: 2vw;
}

.subTitle {
  margin: 0;
  font-family: 'Hammersmith One';
  font-size: 2vw;
  text-align: center;
  user-select: none;
}

.contentTitle {
  display: flex;
}

.secondClass {
  justify-content: flex-end;
}

.contentTitle p {
  font-family: 'Playfair Display';
  font-size: 3em;
  margin: .25em 4.5em;
  padding: 0 1.5em;
  padding-top: .25em;
  padding-bottom: 10em;
  background-color: #1a237e;
  color: white;
  user-select: none;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
}

.secondClass p {
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.contentTitle p span {
  font-size: .5em;
}

.skills, .websites {
  display: flex;
  justify-content: space-between;
  margin: 3em 16em;
  margin-top: -30em;
}

.skill, .website {
  background-color: #eeeeee;
  width: 25%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.skill img, .website img {
  max-width: 100%;
}

.html img {
  animation: 2s zoom1 infinite;
}

.css img {
  animation: 2s zoom2 infinite;
}

.java img {
  animation: 2s zoom3 infinite;
}

@keyframes zoom1 {
  0% {
    transform: scale(1.1);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes zoom2 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.1);
  }

  50% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoom3 {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

.skillDes, .websiteDes {
  margin: 0 1em;
  display: flex;
  flex-direction: column;
}

.skillDes h3, .websiteDes h3 {
  font-family: 'Playfair Display';
  margin: 0;
  margin-top: .25em;
  font-size: 2em;
  text-align: center;
  color: #1a237e;
  user-select: none;
}

.skillDes h4, .websiteDes h4 {
  font-family: 'PT Sans';
  margin: 0;
  text-align: center;
  user-select: none;
}

.skillDes p, .websiteDes p {
  font-family: 'PT Sans';
  margin: 1em 1.5em;
  font-size: 1.1em;
}

.websiteDes a {
  padding: .75em 2.25em;
  color: white;
  text-decoration: none;
  align-self: center;
  font-family: 'PT Sans';
  border-radius: .25em;
  margin-bottom: 1.5em;
  user-select: none;
}

#interestLink {
  background-image: linear-gradient(to bottom right, #B1C6DB, #B06C5D);
}

#sensingLink {
  background-image: linear-gradient(to bottom right, #C04C28, #303030);
}

#troubleLink {
  background-image: linear-gradient(to bottom left, #FD2D3B, #F3BA22, #6CBD71, #2D92EA);
}

/* Footer */
footer {
  background-color: #1a237e;
  display: flex;
  flex-direction: row;
  padding: 3em 16em;
}

.footerCol {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  color: white;
  border-right: 2px solid #5864dd;
  padding-left: 2em;
  user-select: none;
}

.footerCol:nth-child(3) {
  border: none;
}

.footerCol:nth-child(1) h1 {
  font-family: 'Black Ops One';
  font-size: 5em;
  margin: 0;
}

.footerCol:nth-child(1) h2 {
  font-family: 'PT Sans';
  margin: 0;
  font-size: 1em;
}

.footerCol:nth-child(2) a {
  color: white;
  text-decoration: none;
  font-family: 'pt sans';
  margin: .5em 0;
}

.footerCol:nth-child(2) a:hover {
  text-decoration: underline;
}

.footerCol:nth-child(3) h3 {
  font-family: 'pt sans';
  margin: 0;
  font-size: 1.5em;
}

.footerCol:nth-child(3) div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footerCol:nth-child(3) a img {
  max-width: 50%;
  background-attachment:
}

.websiteShot {
  height: 30vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.websiteShot h3 {
  line-height: 30vw;
  font-size: 3em;
  font-family: 'Playfair Display';
  text-align: center;
  user-select: none;
  color: white;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.websiteShot:hover h3 {
  opacity: 0;
  transition: .25s;
}

/* Website */
.websiteTopicsTitle {
  display: flex;
}

.websiteTopics:nth-child(odd) .websiteTopicsTitle {
  justify-content: flex-end;
}

.websiteTopicsTitle p {
  font-family: 'Playfair Display';
  font-size: 3em;
  margin: .25em 4.5em;
  padding: 0 1.5em;
  padding-top: .25em;
  padding-bottom: 5em;
  background-color: #1a237e;
  color: white;
  user-select: none;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.15);
}

.websiteTopicsContent {
  background-color: #eeeeee;
  margin: 0 16em;
  display: flex;
  flex-direction: row;
  margin-top: -15em;
  z-index: 1;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 3em;
}

.websiteTopicsContent div {
  display: flex;
  flex-direction: column;
  padding: .5em 2em;
  margin: 2.5em 1em;
  border-left: 2px solid #999999;
}

.websiteTopics:nth-child(even) .websiteTopicsContent div {
  border-right: 2px solid #999999;
  border-left: none;
}

.websiteTopicsContent div h3 {
  font-family: 'Playfair Display';
  font-size: 2.75em;
  margin: .5em 0;
}

.websiteTopics:nth-child(even) .websiteTopicsContent div h3, .websiteTopics:nth-child(even) .websiteTopicsContent div p {
  text-align: right;
}

.websiteTopicsContent div p {
  font-family: 'PT Sans';
  margin: .5em 0;
  font-size: 1.5em;
}

.websiteTopicsContent img {
  width: 25%;
  height: 25%;
}

/* Website Header */
#interestShot {
  background-image: url(../img/interest/interest.png);
  background-position-y: -200px;
}

#sensingShot {
  background-image: url(../img/sensing/sensing.png);
}

#troubleShot {
  background-image: url(../img/trouble/trouble.png);
}