@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|PT+Sans|Playfair+Display|Hammersmith+One');

body {
  margin: 0;
}

/* Navigation bar */
#nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

#navLogo h1 {
  font-family: 'Black Ops One';
  margin: 0;
  padding: 0 2em;
  color: #1a237e;
  font-size: 2.75em;
  cursor: default;
}

#navLink {
  font-family: 'PT Sans';
  font-size: 1.25em;
  padding: .5em 2em;
}

#navLink a {
  padding: .25em 1em;
  color: #1a237e;
  text-decoration: none;
}

#navLink a:hover {
  text-decoration: underline;
}

#navLink a:first-child {
  padding-left: 2em;
  border-left: .75em solid #1a237e;
}

#navLink a:last-child {
  margin-right: 6em;
}

/* Slider */
.companyI {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/website/interest.png);
}

.sensingC {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/website/sensing.png);
}

.troubleG {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/website/trouble.png);
}

#slider {
  overflow: hidden;
  height: 40vw;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 12s slider infinite;
  height: 100%;
}

#slider figure a {
  width: 20%;
  float: left;
  height: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  font-family: 'Playfair display';
  font-size: 3vw;
  line-height: 40vw;
  text-decoration: none;
  color: white;
}

@keyframes slider {
  0% {
    left: 0;
  }

  28.3% {
    left: 0;
  }

  33.3% {
    left: -100%;
  }

  61.6% {
    left: -100%;
  }

  66.6% {
    left: -200%;
  }

  95% {
    left: -200%;
  }

  100% {
    left: -300%;
  }
}

/* Index content */
.title {
  font-family: 'Hammersmith One';
  font-size: 4vw;
  text-align: center;
  user-select: none;
  margin: 0;
  padding: 2vw;
}

.subTitle {
  margin: 0;
  font-family: 'Hammersmith One';
  font-size: 2vw;
  text-align: center;
  user-select: none;
}

#skillsTitle {
  font-family: 'Hammersmith One';
  font-size: 3em;
  margin: .5em 5em;
}

.skills {
  display: flex;
  justify-content: space-between;
  margin: 2em 16em;
  margin-top: 0;
}

.skill {
  background-color: #eeeeee;
  width: 25%;
}

.skill img {
  max-width: 100%;
}

.skillDes {
  margin: 0 1em;
}

.skillDes h3 {
  font-family: 'Playfair Display';
  margin: 0;
  font-size: 2em;
  text-align: center;
}

.skillDes h4 {
  font-family: 'PT Sans';
  margin: 0;
  text-align: center;
}

.skillDes p {
  font-family: 'PT Sans';
  margin: 1em 1.5em;
  font-size: 1.1em;
  margin-bottom: 2em;
}